#visualize-icon {
  width: 60%;
  margin-bottom: 1rem;
}
#file-hash{
  margin-left: 2rem;
}
#visualize-separator{
  width: 100%;
}
.container-fluid{
  background-color: #F4F4F4;
}
#table-head{
  background-color: white;
}
