<div id="main-container">
  <div class="container-fluid">
    <div class="row main-tittle">
      <h1 class="allign-center ">Analizador de archivos</h1>
    </div>
    <div class="row">
      <img src="assets/images/upload-file.png" alt="upload icon" id="upload-icon" class="img-thumbnai allign-center">
     </div>
    <div class="row">
      <app-select-file (fileSelected)="fileSelected($event)" class="allign-center" id="selector"></app-select-file>
    </div>
    <div class="row">
      <button type="button" class="btn btn-submit allign-center " (click)="analyzeFile()">Analizar</button>
    </div>
    <div *ngIf="file">
      <app-visualize-file [fileReport]="fileReport"></app-visualize-file>
    </div>
  </div>
</div>
